*.asm
*.dll
*.exe
*.exp
*.idb
*.ilk
*.lib
*.obj
*.pdb
*.ncb
*.res
*.suo
*.user
*.vssscc
BuildLog.htm
src/stlport/doc
src/stlport/etc
src/stlport/test
*build*/
/.vscode
/.idea
*.sgr
*.log
ouiav*
Game/
*.a
*.o
*.spec
usr/
*.so

*.x86
./sc4
./sims2
*.nam
*.id*
*.til
*.log
*.txt
build/
*.dat
!*_imp_*.txt
!*_winapi_*.txt
wine-git/
*.dxvk-cache
usr/
*.dylib